.stackable-grid-wrapper {
    border-radius: .5rem;
    padding: 3rem;
    background-color: #262250;
    border: 1px solid #652bb3;
}

.stackable-grid-three {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    padding: 0;
    margin: -1rem;
}

.column-of-three {
    width: 30%;
    float: left;
}

@media (max-width: 850px) {
    .column-of-three {
        width: 100%;
        display: block;
    }

    .column-of-three:not(:first-child) {
        margin-top: 2rem;
    }
}

.column-of-three:not(:last-child) {
    margin-right: 5%;
}