.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
}

.header-right {
    margin-right: 2rem;
	margin-top: 0.25rem;
}

.header-primary {
    font-size: 4rem;
    font-weight: 300;
    color: #ececec;
}


.btn, .btn:link, .btn:visited {
	text-transform: uppercase;
	text-decoration: none;
	padding: 1.5rem 4rem;
	display: inline-block;
	border-radius: 10rem;
	transition: all 0.2s;
	position: relative;
	font-size: 1.6rem;
	border: none;
	cursor: pointer;
}

.btn:hover {
	transform: translateY(-3px);
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
	transform: scaleX(1.4) scaleY(1.6);
	opacity: 0;
}

.btn:active, .btn:focus {
	outline: none;
	transform: translateY(-1px);
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn::after {
	content: "";
	display: inline-block;
	height: 100%;
	width: 100%;
	border-radius: 10rem;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	transition: all 0.4s;
}

.btn--purple {
	background-color: #652bb3;
	color: #ececec;
}

.btn--purple::after {
	background-color: #652bb3;
}

.btn--pink {
	background-color: #ce2c8a;
	color: #fff;
}

.btn--pink::after {
	background-color: #ce2c8a;
}

@media screen and (max-width: 400px) {
    .header {
		flex-direction: column;
    }

	.header .btn {
		margin-top: 2rem;
    }
}