*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    background: #110d30;
    margin: 0;
    font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #fff;
    padding-left: 20rem;
}

html {
    font-size: 62.5%;
}

@media screen and (max-width: 90em) {
    html {
        font-size: 56.25%;
    }

    body {
        padding-left: 0;
    }
}

@media screen and (max-width: 40em) {
    html {
        font-size: 50%;
    }
}

@media screen and (min-width: 120em) {
    html {
        font-size: 75%;
    }
}


::-moz-selection {
    background-color: #fff;
    color: #262250;
}


::selection {
    background-color: #fff;
    color: #262250;
}