*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #110d30;
    margin: 0;
    font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #fff;
    padding-left: 20rem;
}

html {
    font-size: 62.5%;
}

html {
    font-size: 62.5%;
}

@media screen and (max-width: 900px) {
    html {
        font-size: 56.25%;
    }
}

@media screen and (max-width: 400px) {
    html {
        font-size: 50%;
    }
}

@media screen and (max-width: 900px) {
    body {
        padding-left: 0;
    }
}

::selection {
    background-color: #fff;
    color: #262250;
}
